<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='styles/style.css'/>



</head>
<body>
<div id="main-content"></div>
</body>
<!-- bower:js -->
<!-- endbower -->
<!-- bower:css -->
<!-- endbower -->
<!-- inject:js -->
<script src="/js/vendors.js"></script>
<script src="/js/build.js"></script>
<!-- endinject -->
</html>

