#account-section {
  .parameter {
    div {
      position: relative;
    }
  }

  .btn-set {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .thing {
    background: #E1BEE7;
    box-shadow: black 0 0 3px;
    margin-top: 12px;
    min-height: 80px;
    padding: 15px 20px;
  }

  .nameAndValue {
    float: left;
  }

  .date {
    position: relative;
    left: 15%;
  }
}