.footer {
  width: 60%;
  min-height: 30px;
  left: 17%;
  bottom: 0;
  background: #6A1B9A;
  padding: 10px;
  position: absolute;
  box-shadow: black 0 0 15px;
  z-index: 10;
  color: #E3F2FD;
  text-align: right;
  border-radius: 0 10px 0 0;

  .img-temperature {
    float: left;
  }
}