.top-header {
  width: 60%;
  min-height: 30px;
  left: 15%;
  background: #6A1B9A;
  padding: 25px;
  position: relative;
  box-shadow: black 0 0 15px;
  z-index: 10;
  border-radius: 0 10px;

  .intelligent-house {
    text-decoration: none;
    font-size: 2em;
    font-family: verdana, serif;
    color: white;
    float: left;
    position: relative;
    top: -15px;
  }
}