#login-section, #register-section {
  .phone-container {
    position: relative;
    height: 20px;
    left: -2px;
  }

  .react-tel-input {
    width: 88% !important; //override lib value
    margin: 0 auto;
    border: 2px solid blueviolet;
    border-radius: 6px;
  }
  .passwordField {
    width: 100%;
  }
}