.button-default {
  display: inline-block;
  color: white;
  background: #6A1B9A;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  &:hover {
    border-radius: 1px;
    background: green;
    border: 2px solid green;
  }
  &:active {
    border-radius: 1px;
    background: #ffa500;
    color: #6A1B9A;
    border: 2px solid orange;
  }

}

.btn-default {
  margin-top: 10px;
  color: white;
  background: #6A1B9A;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.15s;
  float: right;
  margin-right: 7px;
  &:hover {
    background: green;
  }
  &:active {
    background: orange;
    color: #6A1B9A;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.1s;
  }
}

.hidden {
  display: none;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;

  &:target {
    display: block;
    pointer-events: auto;
  }

  > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }
}

.input-text {
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 15px;
  padding: 5px 20px 6px 20px;
  border: 2px solid blueviolet;
  width: 80%;
  &:focus {
    outline: none;
  }
}
