@import "footer";
@import "header";
@import "account";
@import "shared";
@import "temperature";
@import "login-register";


.body-container {
  position: fixed;
  left: 27%;
  padding: 50px 90px 0 90px;
  background: #F5F5F5;

  box-shadow: black 0 0 15px;
  margin: 0 auto;
  min-width: 26%;
  max-width: 26%;
  min-height: 78%;
  text-align: center;

  .btn-default {
    border-color: #F5F5F5;
  }

}

body {
  background: white;
  width: 100%;
  height: 100%;
}







