.temperature-section {
  background: #E1BEE7;
  box-shadow: black 0 0 3px;
  margin-top: 12px;
  min-height: 80px;
  padding: 15px 20px;
  b {
    font-size: 2em;
    position: relative;
    left: 35%;
  }
}